[% PROCESS 'htmlhead.tpl'
   htmltitle = 'DELETED'
%]

[% IF deleted > 0 %]
<h3>[% deleted %] post [% IF fulldel == 'yes' %]full[% END %]  íœŠ®—¹</h3>
[% END %]
<ul>
  [% FOREACH id IN deleted_tree %]
    <li>tree: [% id %]</li>
  [% END %]
  [% FOREACH id IN deleted_id %]
    <li>id: [% id %]</li>
  [% END %]
</ul>

[% PROCESS 'htmlfoot.tpl' %]

