[% PROCESS htmlhead.tpl
    htmltitle = 'Administration menu'
%]

<ol>
  <li><a href="editdenyip.cgi">Edit deny IP address</a></li>
  <li><a href="editdenyword.cgi">Edit words</a></li>
</ol>

[% PROCESS htmlfoot.tpl %]
