[% PROCESS htmlhead.tpl
   htmltitle = "処理エラーが発生しました"
%]

<div class="ErrMsg">
[% adminerror = 0 %]
[% IF error == 'noname' %]
  名前が未入力です。ブラウザの［戻る］ボタンを使ってもう一度入力してください
[% ELSIF error == 'nodmay' %]
  タイトルが未入力です。ブラウザの［戻る］ボタンを使ってもう一度入力してください
[% ELSIF error == 'nocomment' %]
  内容が未入力です。ブラウザの［戻る］ボタンを使ってもう一度入力してください
[% ELSIF error == 'invalidemail' %]
  E-メールの入力内容が正しくありません。よく確認してください。
  ブラウザの［戻る］ボタンを使ってもう一度入力してください
[% ELSIF error == 'invaliddeleky' %]
  パスワードは8文字以内です。長すぎるとエラーがでます。
  ブラウザの［戻る］ボタンを使ってもう一度入力してください
[% ELSIF error == 'namelength' %]
  名前は半角[% NMAX %]字以内でお願いします。
  ブラウザの［戻る］ボタンを使ってもう一度入力してください
[% ELSIF error == 'dmaylength' %]
  タイトルは半角[% TMAX %]字以内でお願いします。
  ブラウザの［戻る］ボタンを使ってもう一度入力してください
[% ELSIF error == 'commentlength' %]
  コメントは半角[% CMAX %]字以内でお願いします。
  ブラウザの［戻る］ボタンを使ってもう一度入力してください
[% ELSIF error == 'notxtt' %]
  [% TXT_T %]が未入力です。
  ブラウザの［戻る］ボタンを使ってもう一度入力してください
[% ELSIF error == 'nodelkey' %]
  トピック追加にはパスワードが必須です。
  ブラウザの［戻る］ボタンを使ってもう一度入力してください
[% ELSIF error == 'iprefused' %]
  あなたのアクセス元IPアドレスは、過去に掲示板運営に重大な支障を及ぼす行為を行った
  などの理由で拒否されています。 [% COMipaddr %]
[% ELSIF error == 'adminicon' %]
  管理者用アイコンは使用できません。
[% ELSIF error == 'nopass' %]
  指定された記事にはパスワードが設定されていません。
[% ELSIF error == 'invpass' %]
  パスワードが未入力か、入力されたパスワードが一致しません。
[% ELSIF error == 'longmail' %]
  投稿されたメールアドレスが長すぎます。
[% ELSIF error == 'longurl' %]
  投稿された URL が長すぎます。
[% ELSIF error == 'invid' %]
  削除しようとしている投稿の登録 No が未入力もしくは無効です。
[% ELSIF error == 'editinvid' %]
  編集しようとしている投稿の No が未入力もしくは無効です。
[% ELSIF error == 'cookieoff' %]
  ブラウザの cookie が無効化されています。
  この状態ではこの掲示板への投稿はできません。
  cookie 対応のブラウザを利用するか、cookie を有効にしてください。
[% ELSIF error == 'twicepost' %]
  同一内容で2度書き込もうとしています。多重投稿は無効です。再確認してください。
[% ELSIF error == 'notcreator' %]
  このトピックへはトピックの作成者のみが返信できます。
[% ELSIF error == 'uplimit' %]
  アップロードが許可されているサイズを超えるサイズのファイルをアップロードしようとしています。
  アップロード操作は無効化されました。
[% ELSIF error == 'oldlogs' %]
  過去ログには書き込みできません。
[% ELSIF error == 'viaproxy' %]
  ProxyServer経由では書き込みできません!
[% ELSIF error == 'noflag' %]
  アップできないファイル形式です!
[% ELSIF error == 'upoverflow' %]
  ファイルサイズが大きすぎます!
[% ELSIF error == 'newpasserr' %]
  パスワードが違います!
[% ELSIF error == 'novalidsetcgi' %]
  設定ファイルがCGIに設定されてません!
[% ELSIF error == 'invalidfile' %]
  そのファイルは閲覧できません!
[% ELSIF error == 'invalidpass' %]
  パスワードが違います!
[% ELSIF error == 'locked' %]
  LOCK is BUSY (ロック中)
[% ELSIF error == 'renerr' %]
  Rename Error
[% ELSIF error == 'nobackup' %]
  バックアップがないので修復不可能です!
[% ELSIF error == 'alreadyct' %]
  すでに ChildTree 用になっています!
[% ELSIF error == 'captcha0' %]
  captchaの設定エラーです。
  [% adminerror = 1 %]
[% ELSIF error == 'captcha-1' %]
  captchaの有効期限が切れました。再度取得してください。
[% ELSIF error == 'captcha-2' %]
  captchaのコードが見つかりません。同じcaptchaは一度しか利用できません。
[% ELSIF error == 'captcha-3' %]
  captchaのコードが一致しません。
  入力フォームをリロードしてcaptchaを取得しなおしてやり直してください。
  captchaには、2-9の数字とa-yまでの英小文字のみが利用されています。
[% ELSIF error == 'cannot_write' %]
  このエントリには書き込みできません。
[% ELSIF error == 'cannot_write_oldlogs' %]
  この過去ログには書き込みできません。
[% ELSIF error == 'captchaoth' %]
  未知のcaptchaに関するエラーです。
  [% adminerror = 1 %]
[% ELSIF error == 'edit_not_allowed' %]
  このフォーラムでは投稿記事の編集・削除は許可されていません。
[% ELSIF error == 'range_undefined' %]
  範囲が指定されていません。
[% ELSIF error == 'disabled' %]
  この機能は設定で無効にされています。
  必要と思われる場合は、管理者まで問い合わせてください。


[% ELSIF error == 'not_logged_in' %]
  ログインしていないのにもかかわらず、ログアウト操作を行おうとしました。
  このエラーは、ログインセッションの有効期限が切れたあとにログアウト操作を行おう
  としても発生します。
  念のため、ログインセッションの有効期限 [% Param.admin_authexpr %]
  を確認することをお勧めします。

[% ELSIF error == 'invalid_param' %]
  Option parameter '[% error_param %]' is invalid.
  Check and re-do.
[% ELSE %]
  ERROR - [% error %]
[% END %]
</div>

[% IF adminerror == 1 %]
  <div>
    このエラーが出たときにどのような操作をしていたかとエラーコード [% error %] を、
    <a href="http://bugzilla.mozilla.gr.jp/">bugzilla-jp</a> にバグとして登録してください。
  </div>
[% END %]

[% PROCESS htmlfoot.tpl %]
